.container {
  position: fixed;
  margin: 0;
  overflow: scroll;
  height: 100vh;
  width: 100%;
  background: url('http://kelseyandpatrickwedding.com/images/big_house.png');
  background-size: cover;
  background-position: right left;
}

.title .info {
  padding-bottom: 32px;
}

.infoCard {
  width: calc(50% - 10px);
  min-width: 250px;
  padding: 0;
  margin: 0;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

.infoCard:nth-child(2) {
  margin-right: 0px;
}


.cardContent {
  min-height: 300px;
}

.row {
  max-width: 960px;
  margin: 0 auto;
}

.row2 {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.row2 .cardContent {
  min-height: 350px;
}

.row2 .infoCard {
  width: 100%;
}

.header {
  color: #6B061F;
  font-size: 48px;
  padding: 20px 20px 0 20px;
  margin: 16px 0;
  font-family: 'Poiret One', arial;
}

.subheader {
  color: #6B061F;
  font-size: 36px;
  padding: 20px 20px 0 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: 'Poiret One', arial;
}

.info {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  padding-bottom: 16px;
  font-weight: 300;
}

.info a {
  color: #6B061F;
}

.info2 a {
  color: #6B061F;
}
.info2 {
  padding-left: 20px;
  color: #6B061F;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.detail {
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
}

@media (max-width: 570px) {
  .infoCard {
    width: 100%;
    text-align: center;
  }
  .info2 {
    padding-left: 0;
  }
  .header {
    text-align: center;
  }

  .detail {
    font-size: 18px;
  }
}