.container {
  position: fixed;
  margin: 0;
  overflow: scroll;
  height: 100vh;
  width: 100%;
  background: url('http://kelseyandpatrickwedding.com/images/big_house.png');
  background-size: cover;
  background-position: right left;
}

.infoCard {
  width: 33%;
  min-width: 250px;
  padding: 0;
  margin: 0;
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
}

.cardContent {
  min-height: 280px;
}

.row {
  max-width: 900px;
  margin: 0 auto;
}

.header {
  color: #6B061F;
  font-size: 48px;
  padding: 20px 20px 0 20px;
  margin-top: 20px;
}

.subheader {
  color: #6B061F;
  font-size: 36px;
  padding: 20px 20px 0 20px;
  margin-top: 20px;
}

.info {
  padding-left: 20px;
  font-size: 20px;
  padding-bottom: 16px;
}

.info a {
  color: #6B061F;
}

.info2 {
  padding-left: 20px;
  color: #6B061F;
  font-size: 20px;
}

@media (max-width: 570px) {
  .infoCard {
    width: 100%;
  }
}