.container {
  margin: 0;
  height: 100vh;
  width: 100%;
  background: url('http://kelseyandpatrickwedding.com/images/ann_arbor_bw.jpg');
  background-size: cover;
}

.info {
  padding-top: 100px;
  text-align: center;
}

.info h2 {
  padding-top: 25px;
}

.heading {
  margin-bottom: 25px;
  color: #fff;
}

.right {
  display: inline-block;
}

.left {
  vertical-align: top;
  color: #fff;
  font-family: 'Poiret One', arial;
  display: inline-block;
  height: 400px;
}

.info a {
  color: #fff;
}
