.container {
    position: fixed;
    margin: 0;
    overflow: scroll;
    height: 100vh;
    width: 100%;
    background: url('http://kelseyandpatrickwedding.com/images/kitchen_bw.png');
    background-size: cover;
    background-position: right left;
  }
  
  .infoCard {
    width: calc(50% - 10px);
    min-width: 250px;
    padding: 0;
    margin: 0;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    text-align: center;
  }
  
  .infoCard:nth-child(2) {
    margin-right: 0px;
  }

  .cardContent {
    min-height: 280px;
  }
  
  .row {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .header {
    color: #6B061F;
    font-size: 48px;
    padding: 20px 20px 0 20px;
    margin: 16px 0;
    font-family: 'Poiret One', arial;
  }
  
  .subheader {
    color: #6B061F;
    font-size: 36px;
    padding: 20px 20px 0 20px;
    margin-top: 20px;
    font-family: 'Poiret One', arial;
  }
  
  .info {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    padding-bottom: 16px;
  }

  .link {
    padding: 50px 20px 0 20px;
    font-size: 20px;
  }
  
  
  .link a {
    color: #6B061F;
  }
  
  .info2 {
    padding-left: 20px;
    color: #6B061F;
    font-size: 20px;
  }

  .btn {
    background-color: #6b061f;
    color: #fff;
    height:50px;
    padding: 10px;
  }
  
  @media (max-width: 570px) {
    .infoCard {
      width: 100%;
    }
  }