.container {
    width: 100%;
    text-align: center;
    max-width: 360px;
    display: block;
    margin: 0 auto;
    display: block;
}

.intro {
    color: #163241;
    font-size: 24px;
    margin-bottom: 16px;
  }

.input {
    border: none;
    border-bottom: 3px solid #6B061F;
    height: 32px;
    font-size: 32px;
    width: 100%;
    margin-bottom: 16px;
    margin-top: 8px;
    font-family: 'Poiret One', arial;
    background-color: transparent;
    text-align: center;
}

input:focus{
    outline: none;
}

form {
    text-align: center;
}

.label {
    font-size: 20px;
    color: #163241;
    float: left;
}

.submit {
    width: 160px;
    height: 50px;
    background-color: #6B061F;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin: 50px 0 90px 0;
    font-family: 'Poiret One', arial;
    font-size: 24px;
}